:root {
  --main-bg: #222736;
  --dark-text: rgba(166, 176, 207, 1);
  --bright-text: #f6f6f6;
  --nav-bg: #262b3c;
  --card-bg: #2a3042;
  --bright-blue: #5570e6;
  --dark-blue: rgb(86, 90, 134);
  --mid-blue: #2e3962;
  --blue-text: #3858da;
  --green-text: #34aa6e;
  --green-bg: #2b4a50;
  --orange-bg: #4d4744;
  --orange-text: #ecb24c;
  --divide-bg: #32394E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--main-bg);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

*::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-text);
  outline: 1px solid slategrey;
  border-radius: 5px;
}