:root {
  --main-bg: #222736;
  --dark-text: rgba(166, 176, 207, 1);
  --bright-text: #f6f6f6;
  --nav-bg: #262b3c;
  --card-bg: #2A3042;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--main-bg);
  min-height: 100vh;
}

a {
  text-decoration: none;
}
